.top-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

body {
    background-color: #1E1E1E;
    margin: 0;
    max-width: 100vw;
}

.fa-solid {
    color: white;
    padding: 32px 116px 0 116px
}

footer {
    background-color: #181818;
    width: 100vw;
    height: 269px;
    position: fixed;
    bottom: 0;
}

.bottom-info {
    color: white;
    text-align: center;
}
.bottom-socials {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 0 50px 0 50px;
    justify-content: center;
}

.social-space {
    margin: auto;
}

.hr-line {
    max-width: 80vw;
    color: #3e3e3e;
}

.bottom-nav {
    background-color: #222222;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 0 0 0 0;
    justify-content: center;
}

.bottom-icon {
    margin: 0;
}
